body {
    margin: 10px;
    padding: 10px;
    font-family:"Segoe UI", "Arial";
}
img {
    width:25px;
    height: 18px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:4px;
    vertical-align: text-top;
}
table {
    border:1px solid #C5C3AC
}
td {
    height: 30px;
    padding-left: 6px;
    padding-right: 40px;
    border-collapse: collapse;
}
thead td {
    background: #56B906;
    color: #F0FDF2;
    padding-right: 10px;
}
tbody tr:nth-child(even) {
    background-color: #ECECD8;
}
table, tr, td, th {
    border: 1px solid #C5C3AC;
    border-collapse: collapse;
}
